.container
  .row
    .col-xs-12.text-center
      ul.nav
        li: a(href='http://twitter.com/serdavosboling', target='_blank') Twitter
        li: a(href='http://github.com/daveboling', target='_blank') GitHub

